spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/dacsan_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false

logging:
  level:
    com.dacsan: INFO
    org.springframework: WARN
